/* Iori Font Family */
@font-face {
    font-family: 'Iori';
    src: url('/fonts/iori/Iori.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iori';
    src: url('/fonts/iori/Iori Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iori';
    src: url('/fonts/iori/Iori Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iori';
    src: url('/fonts/iori/Iori Bold Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
